.wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  font-weight: 700;
  min-width: 100px;
  padding: 9px 16px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--white);
  border: 1px solid transparent;
  font-family: 'ProximaNova', sans-serif;

  //2 cái cạnh nhau
  + .wrapper {
    margin-left: 16px;
  }
}

.primary {
  background-color: var(--primary);
  color: var(--white);
  &:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.06), rgba(0, 0, 0, 0.06)), #fe2c55;
  }
}

.outline {
  color: var(--primary);
  border-color: currentColor; //currentColor sẽ làm cho màu giống màu của color
  &:hover {
    background-color: rgba(254, 44, 85, 0.06);
  }
  min-width: 88px;
  padding: 4px 16px;
}

.text {
  &:hover {
    text-decoration: underline;
  }
}

.rounded {
  border-radius: 999px;
  box-shadow: 0 2px 8px rgb(0 0 0 / 6%);
  border-color: rgba(22, 24, 35, 0.12);
  color: rgba(22, 24, 35, 0.75);

  &:hover {
    border-color: rgba(22, 24, 35, 0.2);
    background-color: rgba(22, 24, 35, 0.03);
  }
}

.icon + .title,
.title + .icon {
  margin-left: 8px;
}

.icon {
  width: 24px;
  display: inline-block;
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.5;
  user-select: none; //dùng để không để bôi đen chữ
}
