@tailwind base;
@tailwind components;
@tailwind utilities;

.video-js .vjs-tech {
  border-radius: 16px;
}

.video-js {
  background-color: transparent !important;
}

.video-js .vjs-control-bar {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

img,
video {
  max-width: none;
}
html,
body {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.box-shadow {
  box-shadow: 0 0 0 1px #000, 0 30px 30px rgb(0 0 0 / 7%), 0 15px 15px rgb(0 0 0 / 6%), 0 10px 8px rgb(0 0 0 / 5%),
    0 4px 4px rgb(0 0 0 / 4%), 0 2px 2px rgb(0 0 0 / 3%);
}

.text-hightlight {
  -webkit-text-fill-color: transparent;
  background: -webkit-linear-gradient(45deg, #5ebbff -33%, #a174ff 69%);
  -webkit-background-clip: text;
}
